% rebase('base.html')


    <p class="message">{{!message}}</p>

    <ul>
        <li><a href="/{{linkPath}}">{{pageLinkName}}</a></li>
    </ul>

    <ul>
        % if username:
        <form class="job" id="postform" action="/post" method="POST">
            <h4>Title:</h4>
            <input type="text" name='title'>
            <h4>Company:</h4>
            <input type="text" name="company">
            <h4>Location:</h4>
            <input type="text" name="location">
            <br>
            <h4>Job Description:</h4>
            <br>
            <textarea id="textarea" type="text" cols="150" rows="5" name="description"></textarea>
            <br>
            <input class="button" type="submit" value="Create Listing">
        </form>
    % end

        % for job in jobs:
        <li class = "job">
            <a class="timestamp">{{!job[1]}}</a>
            <a class="owner">{{!job[2]}}</a>
            <br>
            <a class="title">{{!job[3]}}</a>
            <hr>
            <h4>Company: </h4>
            <a class="company">{{!job[5]}}</a>
            <h4>Location: </h4>
            <a class="location">{{!job[4]}}</a>
            <a class="description">{{!job[6]}}...</a>
            <a href="/positions/{{!job[0]}}">Read More</a></li>
        </li>
        % end
    </ul>