% rebase('base.html')


    <ul>
        <li><a href="/{{linkPath}}">{{pageLinkName}}</a></li>
    </ul>


    <div class = job>
        <a class="timestamp">{{timestamp}}</a>
        <a class="owner">{{owner}}</a>
        <br>
        <a class="title">{{positionTitle}}</a>
        <hr>
        <h4>Company: </h4>
        <a class="company">{{company}}</a>
        <h4>Location: </h4>
        <a class="location">{{!location}}</a>
        <a class="description">{{!description}}</a>
    </div>

    <br>
    <ul>
        <li><a href="/{{linkPath}}">{{pageLinkName}}</a></li>
    </ul>





