% rebase('base.html')

{{!message}}

% for restaurant in restaurants:
<hr>
<li class = "restaurant">
    <a class="restaurantName">{{!restaurant[1]}}</a>
    <h4>Cuisine: </h4>
    <a class="cuisine">{{restaurant[2]}}</a>
    <h4>Address: </h4>
    <a class="address">{{restaurant[4]}}</a>
    <h4>Description: </h4>
    <a class="description">{{restaurant[3]}}</a>
    <form id="restaurant selection" action="/menu" method="POST">
        <input id="1" name="restaurant" type="hidden" value={{restaurant[0]}}>
        <input id="2" name="user" type="hidden" value={{username}}>
        <input class="button" type="submit" value="Menu">
    </form>
</li>
<hr>
% end

<!--
    <a href="/positions/{{!restaurant[1]}}">Read More</a></li>
% for restaurant in restaurants:
<div class="restaurant">
    <p class="restaurantName">{{!restaurant[1]}}</p>
    <p class="cuisine">Cuisine: {{restaurant[2]}}</p>
    <p class="address">Address: {{restaurant[4]}}</p>
    <p class="description">Description: {{restaurant[3]}}</p>
</div>
% end
-->