% rebase('base.html')

<h4 class="restaurantName">{{!restaurantName[0]}}</h4>

<p class="message">{{!message}}</p>

<div class="menu">
    <div class="category">
        <p class="categoryName">Entree:</p>
        % for item in entrees:
            <form class="add" action="/addtocart" method="POST">
                <input type="hidden" name="item" value="{{item[0]}}">
                <input type="hidden" name="restaurant" value="{{item[1]}}">
                <input type="hidden" name="price" value="{{item[3]}}">
                <input type="hidden" name="dish" value="{{item[2]}}">
                <input id="2" name="user" type="hidden" value={{username}}>
                <input name="restaurantID" type="hidden" value={{restaurantID}}>
                <p class="name">{{item[2]}}</p>
                <p class="price">${{item[3]}}</p>
                <input class="addButton" type="submit" value="+">
            </form>
        % end
    </div>

    <div class="category">
        <p class="categoryName">Main:</p>
        % for item in mains:
            <form class="add" action="/addtocart" method="POST">
                <input type="hidden" name="item" value="{{item[0]}}">
                <input type="hidden" name="restaurant" value="{{item[1]}}">
                <input type="hidden" name="price" value="{{item[3]}}">
                <input type="hidden" name="dish" value="{{item[2]}}">
                <input id="2" name="user" type="hidden" value={{username}}>
                <input name="restaurantID" type="hidden" value={{restaurantID}}>
                <p class="name">{{item[2]}}</p>
                <p class="price">${{item[3]}}</p>
                <input class="addButton" type="submit" value="+">
            </form>
        % end
    </div>

    <div class="category">
        <p class="categoryName">Dessert:</p>
        % for item in desserts:
        <div class="item">
            <form class="add" action="/addtocart" method="POST">
                <input type="hidden" name="item" value="{{item[0]}}">
                <input type="hidden" name="restaurant" value="{{item[1]}}">
                <input type="hidden" name="price" value="{{item[3]}}">
                <input type="hidden" name="dish" value="{{item[2]}}">
                <input id="2" name="user" type="hidden" value={{username}}>
                <input name="restaurantID" type="hidden" value={{restaurantID}}>
                <p class="name">{{item[2]}}</p>
                <p class="price">${{item[3]}}</p>
                <input class="addButton" type="submit" value="+">
            </form>
        </div>
        % end
    </div>
</div>

<div class="cart">
    <ul>
        % if cart:
            <p>Cart:</p>
            % for item in cart:
                <li>{{item[0][0]}}, {{item[0][1]}}</li>
            %end
        % end
    </ul>
</div>

<div class="go to Checkout">
    <form id="cart and checkout" action="/cart" method="POST">
        <input id="2" name="user" type="hidden" value={{username}}>
        <input name="restaurantID" type="hidden" value={{restaurantID}}>
        <input class="button" type="submit" value="Proceed to cart and checkout">
    </form>
</div>
