<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link  rel="stylesheet" href="static\style.css">

          <title>{{title}}</title>

     </head>

  <header>
      <h1>{{title}}</h1>

      <div class="loginmanager">
          % if username:
            <form class="logoutform" action="/logout" method="POST">
                <h4 class="login">Logged in as {{username}}</h4>
                <input class="button" type="submit" value="Log out">
            </form>
          % else:
            <h4 class="error">{{errorMessage}}</h4>
            <form class="loginform" action="/login" method="POST">
                <h4 class="login">Name:</h4>
                <input type="text" name="nick">
                <h4 class="login">Password:</h4>
                <input type="password" name="password">
                <input class="button" type="submit" value="Log in">
            </form>
          % end
      </div>
  </header>

  <form id="back to menu" action="/order" method="POST">
      <input name="restaurantID" type="hidden" value={{restaurantID}}>
      <input id="2" name="user" type="hidden" value={{username}}>
      <input class="button" type="submit" value="Back to ordering from the menu">
  </form>
  <h2 class="pageName">{{pageName}}</h2>

  <body>
    {{!base}}
  </body>
</html>