% rebase('base.html')

<p>List of Items:</p>

<ul>
    % for item in items:
        <li>{{item[0]}} x {{item[2]}} = ${{item[3]}}</li>
    % end
</ul>

<p>Total: ${{total}}</p>

<p>Please enter your details</p>

<form action="/placeorder" method="POST">
    <p>Address:</p>
    <input type="text" name="address">
    <p>Contact Number:</p>
    <input type="hidden" name="total" value="{{total}}">
    <input id="2" name="user" type="hidden" value={{username}}>
    <input name="restaurantID" type="hidden" value={{restaurantID}}>
    <input type="tel" name="phone">
    <input type="submit" value="submit">
</form>