/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Adam Goris 44908350               */

html {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
}


header{
    background: #404040;
    margin: 0;
    padding: 0;
}

h1 { /* styling for 'JOBS!' title */
    margin: 1.5vw;
    padding: 0vw;
    color: white;
    text-align: left;
    font-family: serif;
    font: 45px Georgia;
    display: inline-block;
}

.login {
    color: white;
}

.button {
    background: #404040;
    color: white;
}

#loginmanager { /* Sign in button block */
    margin-right: 20px;
    margin-top: 30px;
    text-align: left;
    float: right;
    display: inline-block;
}

.error {
    color: red;
    display: inline-block;
    margin-left: 10vw;
}

#pageName {
    margin-left: 50vw;
    color: black;
}

h4 {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;

}

body {
    margin-left: 0px;
    padding: 0px;
}

.message {
    margin-left: 10px;
    font-size: 20px;
}

p {
    margin-left: 10px;
}

ul {
    margin-left: 10px;
}

/* THE REMAINING STYLING IS FOR THE JOB BLOCKS*/
.job {
    width: 70vw;
    padding: 1vw;
    padding-top: 0.5vw;
    margin: auto;
    margin-bottom: -2px;
    border: 2px solid #7E0001;
    background-color: inherit;
    vertical-align: top;
    display: block;
    font: 18px Arial;
}

.descriptor { /* separate styling for the descriptive words */
    float: left;
    padding-right: 0.5vw;
    color: #7E0001;
    font-weight: bold;
    font: Arial:
    display: inline;
}


.jobtitle {
    color: #7E0001;
    font: 23px Arial;
    font-weight: bold;
    background-color: inherit;
}

.timestamp {
    color: grey;
    display: inline-block;
    float: right;
}

.owner {
    color: #5A48FD;
    display: inline-block;
    float: right;
    padding-right: 2vw;
}

.title {
    font-size: 35px;
    margin-left: 10px;
    color: #7E0001;
}

.company{
    display: inline-block;
    color: black;
}

.location {
    display: inline-block;
    color: black;
}

.description {
    color: black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7E0001;
}

#textarea {
    margin-left: 10px;
}

#createpost {
    background: #404040;
    color: white;
    margin-left: 81vw;
    width: 80px;
    height: 40px;
}