html {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
}

header{
    background: #BC1C26;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1.5vw;
    padding: 0vw;
    color: #FFFF00;
    text-align: left;
    font-family: serif;
    font: 45px Georgia;
    display: inline-block;
}

.login {
    color: white;
}

.loginmanager { /* Sign in button block */
    margin-right: 20px;
    margin-top: 30px;
    text-align: left;
    float: right;
    display: inline-block;
}

.error {
    color: red;
    display: inline-block;
    margin-left: 10vw;
}

.button {
    background: #404040;
    color: white;
}

.message {
    margin-left: 9vw;
}

h4 {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}



.restaurant {
    width: 70vw;
    padding: 1vw;
    padding-top: 0.5vw;
    margin: auto;
    margin-bottom: -2px;
    border: 2px solid #7E0001;
    background-color: inherit;
    vertical-align: top;
    display: block;
}

.restaurantName {
    color: #7E0001;
    font: 23px Arial;
    font-weight: bold;
    background-color: inherit;
}
